@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Permanent+Marker&family=Poppins&display=swap');

:root {
    --primary-color: #799496;
    --secondary-color: #dbb4ad; 
    --accent1-color: #acc196;
    --accent2-color: #49475B;

    --heading-font: 'Poppins', sans-serif; 
    --paragraph-font: 'Chivo', sans-serif;
    
    --nav-background-color: #B6C8A9;
    --nav-link-color: #695658;
    --nav-hover-link-color: #cedada;
    --nav-hover-background-color: #695658;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 2px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-items: center;
}

nav {
    
    font-size: 1.2rem;
    }

.navigation {
    display: flex;
    list-style: none;
    background-color: var(--nav-background-color);
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

div.hero {
    position: relative; 
}


/* without this code, the hero image doesn't display correctly.
with this code, the article image inherit's this size, unless I add .hero to that code*/
.hero img {          
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute; 
    width: 100%;
    display: block;
    text-align: center;
    background-color: #49475B; 
    top: 20px;
 }

article {
    position: absolute;  
    top: 100px;
    background: rgba(200, 218, 247, 0.8);     
}

p {
    padding: 25px;
}



/* adding .hero to this code allows the size to change */
.hero article img {
    width: 25%;
    height: 15%;    
    /* position: absolute;    -> this moves the img to the left, why? */
    float: right;   
    /* margin: 10 1 1rem 1rem;  -> causes an error */
    border: 1px solid #49475B;   
    box-shadow: 0 0 30px #695658;
}

.history {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;    
    justify-items: center;  

}

.history img {
    width: 25%;
    height: 15%;
}

.history h2 {
    display: block;
    text-align: center;
    width: 100%;
}

.history p{
    width: 35%
}
nav.sociallinks {
    text-decoration: none;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    justify-content: space-around;
    padding: 20px;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/6;
    width: 100%;
    text-align: center;

}
.adventure img {
    width: 65%;
    justify-items: center;
    align-items: center;
}

.bottom {
    display: flex;
    background-color: var(--nav-background-color);
}

.bottom p {
    flex: 1 1 70%;

}
.sociallinks {
    display: flex;
    flex: 1 1 30%;
}

.wireframe {
    display: block;
    padding: 10px;
}

.container1 {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-gap: 0.2rem;
    background-color: #799496;

}

.container1 form.form-contact {
    justify-self: stretch;


}

.container1 div.company-info {
    justify-self: right ;
}

.container2 {
    display: grid;
}