@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Permanent+Marker&family=Poppins&display=swap');

:root {
    --primary-color: #799496;
    --secondary-color: #dbb4ad; 
    --accent1-color: #acc196;
    --accent2-color: #49475B;

    --heading-font: 'Poppins', sans-serif; 
    --paragraph-font: 'Chivo', sans-serif;
    
    --nav-background-color: #B6C8A9;
    --nav-link-color: #695658;
    --nav-hover-link-color: #cedada;
    --nav-hover-background-color: #695658;
}
/* Start on Step 3 #4; look at siteplan css/html for adjustments in color, ect.
Does this css page need to be refreneced in the about.html?*/

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 2px;
    background-color: var(--accent2-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

div.hero {
    position: relative; 
}

/* without this code, the hero image doesn't display correctly.
with this code, the article image inherit's this size, unless I add .hero to that code*/
.hero img {          
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;  
    top: 100px;
    background: rgba(200, 218, 247, 0.8);     
}

h1 {
   position: absolute; 
   width: 100%;
   display: block;
   background-color: #49475B; 
   top: 20px;
}


/* adding .hero to this code allows the size to change */
.hero article img {
    width: 25%;
    height: auto;    
    /* position: absolute;    -> this moves the img to the left, why? */
    float: right;   
    /* margin: 10 1 1rem 1rem;  -> causes an error */
    border: 1px solid #49475B;   
    box-shadow: 0 0 30px #695658;
}