@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Permanent+Marker&family=Poppins&display=swap');

:root {
    --primary-color: #364344;
    --secondary-color: #dbb4ad; 
    --accent1-color: #acc196;
    --accent2-color: #49475B;

    --heading-font: 'Poppins', sans-serif; 
    --paragraph-font: 'Chivo', sans-serif;
    
    --nav-background-color: #c6c9cb;
    --nav-link-color: #231d3b;
    --nav-hover-link-color: #cedada;
    --nav-hover-background-color: #695658;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
body {
    font-family: var(--paragraph-font);
    /* max-width: 960px; */
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
/* Header All Pages */
header {
    padding: 2px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-items: center;
}

nav {
    
    font-size: 1.2rem;
    }

.navigation {
    display: flex;
    list-style: none;
    background-color: var(--nav-background-color);
    border-radius:5px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Footer All pages */
.bottom {
    display: flex;
    background-color: var(--nav-background-color);
}

.bottom p {
    flex: 1 1 70%;
    text-align: center;
    
    vertical-align: middle;

}
.sociallinks {
    display: flex;
    flex: 1 1 30%;
}
nav.sociallinks {
    text-decoration: none;
}

/* Hero Section About Us Page */
div.hero {
    position: relative; 
}

/* without this code, the hero image doesn't display correctly.
with this code, the article image inherit's this size, unless I add .hero to that code*/
.hero img {          
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute; 
    width: 100%;
    display: block;
    text-align: center;
    background-color: #49475B; 
    color:var(--accent1-color);
    top: 20px;
 }

article {
    position: absolute;  
    top: 100px;
    background: rgba(200, 218, 247, 0.8);     
}

p {
    padding: 25px;
}

.hero article img {
    width: 25%;
    height: 15%;    
    /* position: absolute;    -> this moves the img to the left, why? */
    float: right;   
    /* margin: 10 1 1rem 1rem;  -> causes an error */
    border: 1px solid #49475B;   
    box-shadow: 0 0 30px #695658;
}
/* History Section About Us Page */
.history {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;    
    justify-items: center;  

}

.history img {
    width: 25%;
    height: 15%;
}

.history h2 {
    display: block;
    text-align: center;
    width: 100%;
}

.history p{
    width: 35%
}
/* Adventure Section About Us Page */
.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    justify-content: space-around;
    padding: 20px;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/6;
    width: 100%;
    text-align: center;

}
.adventure img {
    width: 65%;
    justify-items: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
}

/* Container 1 Contact Us Page */
.container1 {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-gap: 0.2rem;
    padding-top: 30px;
    /* background-color: #799496; */

}
.container1 p {
    padding: 0px;
}

.form-contact {
    max-width: 500px;
    margin: 0 3em;
    padding-left: 20px;    
}

.form-contact label {
    display: block;
    padding: .5em 0;
    
}
.contact-input input {
    width: 100%;
    padding: 1em;   
}

.form-contact textarea {
    width: 100%;
}

.contact-purpose {
    display: flex;
    padding:.5em;
    
}
.contact-radio {
    display:flex;
}
div.contact-radio label {
    padding: 1em;
}

.subscribe {
    display: flex;
}


button {
    margin: 1rem;
    background-color:var(--accent2-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.form-button {
    display:flex;
    justify-content:center;
}

button:hover {
    background-color:var(--nav-background-color);
    color:var(--accent2-color)
}


.company-info {
    justify-self: right ;
}

.company-name {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #37323a;
}

.heading {
    padding: 20px;
}
.map {
    padding: 2em 0;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.map iframe {
    width: 100%;
    height: 100%;
}
.container2 {
    display: grid;
}
/* Expert Section Contact Us Page */
.experts {
    display: flex;
    justify-content: space-evenly;
}

.experts img {
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 65%;
}

.experts figcaption {
    text-align: center;
}


.title-experts {
    text-align:center;
    padding: 20px;
    background-color:var(--nav-background-color)

}

/* Home Page */

.container-main {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'content1 content2 newsletter'
    'content1 content2 newsletter'
    'content3 content3 newsletter'
    'content4 content4 content4';  
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}

.content1 { grid-area: content1; }
.content2 { grid-area: content2 }
.content3 { grid-area: content3; }
.newsletter { grid-area: newsletter; }
.content4 { grid-area: content4; }

.container-main > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    /* font-size: 30px; */
}

.container-main img {
    
    display: block;
    width: 100%;
    height: 74%;
    object-fit:cover;
    
}

.email input {
    width: 75%;
    padding: 1em; 
}

.newsletter h3 {
    padding: 1em;
}

/* Trip Page */

.trip-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 6fr .75fr;
    grid-template-areas:
    'head head sidebar'
    'main main sidebar'        
    'foot foot foot';  
    grid-gap: 10px;

}

.trip-head { grid-area: head; }
.trip-main {grid-area: main;}
.trip-sidebar {grid-area: sidebar; }
.trip-foot { grid-area: foot; }

.trip-container > div {
    text-align: center;
    padding: 20px 0; 
}

.trip-container img {    
    display: block;
    width: 75%;
    height: auto;
    object-fit:cover;    
}

.trip-head h1 {
    border-bottom: 1px solid #37323a;
}

.trip-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr 1fr .5fr 1fr .25fr;
    grid-template-areas:
    'main1-pic main1-pic main1-pic'
    'main1-desc main1-desc main1-sum'
    'main2-pic main2-pic main2-pic'
    'main2-sum main2-desc main2-desc'
    'main3-pic main3-pic main3-pic'
    'main3-desc main3-desc main3-sum';
    grid-gap: 10px;
    background-color: #c6c9cb;
    padding: 10px;
}

.main1-pic {grid-area: main1-pic;}
.main1-desc {grid-area: main1-desc;}
.main1-sum {grid-area: main1-sum;}
.main2-pic {grid-area: main2-pic;}
.main2-desc {grid-area: main2-desc;}
.main2-sum {grid-area: main2-sum;}
.main3-pic {grid-area: main3-pic;}
.main3-desc {grid-area: main3-desc;}
.main3-sum {grid-area: main3-sum;}

.trip-main img {
    width: 100%;
   
    object-fit:cover;
}
 
.trip-main p{
    padding: 5px 0px;
    text-align: left;
}

.trip-sidbar img {
    display: block;
    width: 25%;
    object-fit: cover;
    align-items: center;
    justify-items: center;
    
}
.trip-sidebar p {
    padding: 5px;
    text-align:center;
    
}
tbody {
    vertical-align: top;
}
/* Footer Contact Us Page */
.wireframe {
    display: block;
    padding: 10px;
}
