
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

header {
    margin: 0 auto;
    /* width: 650 px; */
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    margin: 1rem;
    font-size: 1.3em;
    color:darkslateblue;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: aliceblue;
    display: grid;

}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: darkslategray;
    font-size: 1.1em;
}

div {
    padding: 10px;
}

input textarea select {
    width: 100%;

}

.form-item {
    display:grid;
    align-items: center;    
}

label {
    /* width: 300px */
}

.button {
    display:flex;
    justify-content:center;
}

button {
    margin: 1rem;
    background-color:darkslateblue;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color:darkslategray;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color:#46435f;
    border-top: 1px solid #ccc;
}
